<div class="pageTitle">
    <h1>Hóa đơn</h1>
    <nav>
        <form action="hoadon" method="post">
            <ol class="breadcrumb">

                <table>
                    <tr>
                        <td>Tên sản phẩm</td>
                        <td>Số lượng</td>
                    </tr>
                    <tr>
                        <td class="selectproduct" style="width: 300px;">
                            <input type="text" name="id" placeholder="nhập mã sản phẩm">
                        </td>
                        <td style="width: 300px;"><select name="soluong" id="hoc">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>

                     <tr>
                        <td class="selectproduct" style="width: 300px;">
                            <input type="text" name="id" placeholder="nhập mã sản phẩm">
                        </td>
                        <td style="width: 300px;"><select name="soluong" id="hoc">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>

                     <tr>
                        <td class="selectproduct" style="width: 300px;">
                            <input type="text" name="id" placeholder="nhập mã sản phẩm">
                        </td>
                        <td style="width: 300px;"><select name="soluong" id="hoc">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <li class="breadcrumb-item active"></li>
            </ol>

            <button type="submit">Tinh tien</button>
        </form>

    </nav>
</div>